.card{

    border: 0.1px solid var(--color-fondo-dorado);
    border-radius: 8px;
    padding: 1.6rem;
    margin: 1.6rem 0;
    box-shadow: 2px 2px 2px var(--color-fondo-dorado);
    /* width: 100%; */
    max-width: 800px;
    min-width: 320px;
    ;
    .headerCard{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom:  0.1px solid var(--color-fondo-dorado);
        padding-bottom: 2rem;
        h3{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 8px;
        }
        p{
            span {
                color: var(--color-negro);
                background-color: var(--color-fondo-dorado);
                padding: 0.4rem 0.8rem;
                margin-right: 0.4rem;
                border-radius: 5px;
            }
        }
        
    }
    .mainCard{
        margin-top: 1.6rem;
        ul{
            list-style-type: none;
            li{
                font-size: 1.6rem;
                margin-bottom: 0.8rem;
                span{
                    font-weight: bold;
                }
            }
        }
    }   

    .tachado{
        text-decoration: line-through;
        opacity: 0.6;
    }

    
    .footerCard{
        margin-top: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.4rem;
        padding-top: 2rem;
        border-top:  0.1px solid var(--color-fondo-dorado);
        button{
             padding: 0.8rem 1.6rem;
            font-size: 1.6rem;
            border-radius: 5px;
            border: none;
            background: var(--color-verde-metalico);
            color: var(--color-blanco);
            cursor: pointer;
            width: 100%;


            &:hover{
                background: var(--color-contraste);
            }
        }
    }
}