main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2.4rem;
    width: 100%;
    h2{
        font-size: 2rem;
        margin-bottom: 2.4rem;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 1.6rem;
        margin-bottom: 2.4rem;
        width: 100%;
        padding-left: 2.4rem;
        padding-right: 2.4rem;

        label, p{
            font-size: 1.6rem;
        }

        input, select{
            padding: 0.8rem;
            font-size: 1.6rem;
            border-radius: 5px;
            border: none;
        }
        
        #para{
            width: 100%;
            margin-bottom: 2.4rem;
        }
        #nombre{
            width: 60%;
        }
        #cantidad, #unidad{
            width:15%
        }

        section{
            h3{
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }
            ul{
                margin: auto;
                max-width: 600px;
                min-width: 320px;
                list-style-type: none;
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding-top: 1rem;
                    border-bottom: 0.1px solid var(--color-blanco);
                    p{
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                    }
                    button{
                        width: fit-content;
                        font-size: 1rem;
                        background-color: transparent;
                        &:hover{
                            background: var(--color-contraste);
                        }
                    }

                }
            }
        }


        button{
            padding: 0.8rem 1.6rem;
            font-size: 1.6rem;
            border-radius: 5px;
            border: none;
            background: var(--color-verde-metalico);
            color: var(--color-blanco);
            cursor: pointer;
            width: 100%;


            &:hover{
                background: var(--color-contraste);
            }
        }
    }
    section{
        width: 100%;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    #productos{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1.6rem;
        width: 100%;
        margin-bottom: 2.4rem;
        #btnAddProducto{
            width: 20rem;
            
        }
    }
    #nuevoProducto{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }
    #pedidosCreados{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}